.DS_Store

application/.DS_Store

application/node_modules/

application/config/.DS_Store
application/config/middleware/.DS_Store

application/models/.DS_Store
application/public/.DS_Store
application/public/js/.DS_Store
application/public/stylesheets/.DS_Store

application/routes/.DS_Store

demo_assets/.DS_Store
demo_assets/14-reverse-engineering-authentication-sequelize-0-application-tree-structure-numbered-241x502.psd